@model BibliotecaCUNOR.Models.ModelosIndex
<!DOCTYPE html>
<html lang="es">
<head>
    <title>Inicio</title>

</head>

<body>
    <div class="container">
        <div class="page-header">
            <h1 class="all-tittles">Sistema bibliotecario <small>Inicio</small></h1>
        </div>
    </div>
    <section class="full-reset text-center" style="padding: 40px 0;">
        @foreach (var item in Model.Bibliotecarios)
        {
            @if (User.IsInRole("Bibliotecario"))
            {<!--BIBLIOTECARIO-->
                <article class="tile">
                    <div class="tile-icon full-reset"><i class="zmdi zmdi-face"></i></div>
                    <div class="tile-name all-tittles">Autores</div>
                    <div class="tile-num full-reset">@item.countAutores</div>
                </article>
                <article class="tile">
                    <div class="tile-icon full-reset"><i class="zmdi zmdi-book"></i></div>
                    <div class="tile-name all-tittles">Libros</div>
                    <div class="tile-num full-reset">@item.countLibros</div>
                </article>
                <article class="tile">
                    <div class="tile-icon full-reset"><i class="zmdi zmdi-time-restore"></i></div>
                    <div class="tile-name all-tittles" style="width: 90%;">Total de Devoluciones pendientes</div>
                    <div class="tile-num full-reset">@item.countDevPen</div>
                </article>
                <article class="tile">
                    <div class="tile-icon full-reset"><i class="zmdi zmdi-calendar"></i></div>
                    <div class="tile-name all-tittles">Total de Préstamos</div>
                    <div class="tile-num full-reset">@item.countPresGe</div>
                </article> <!--BIBLIOTECARIO-->}}

        @foreach (var item in Model.Administradors)
        {
            @if (User.IsInRole("Administrador"))
            {<!--ADMINISTRADOR-->
                <article class="tile">
                    <div class="tile-icon full-reset"><i class="zmdi zmdi-face"></i></div>
                    <div class="tile-name all-tittles">Administradores</div>
                    <div class="tile-num full-reset">@item.countAdmin</div>
                </article>
                <article class="tile">
                    <div class="tile-icon full-reset"><i class="zmdi zmdi-accounts"></i></div>
                    <div class="tile-name all-tittles">Estudiantes</div>
                    <div class="tile-num full-reset">@item.countEstu</div>
                </article>
                <article class="tile">
                    <div class="tile-icon full-reset"><i class="zmdi zmdi-male-female"></i></div>
                    <div class="tile-name all-tittles" style="width: 90%;">Personal Administrativo</div>
                    <div class="tile-num full-reset">@item.countPersonal</div>
                </article> <!--ADMINISTRADOR-->}}


        @if (User.IsInRole("Inventarista") || User.IsInRole("Inventarista Trabajo"))
        {<!--INVENTARISTA-->
            @foreach (var item in Model.Inventaristas)
            {
                <article class="tile">
                    <div class="tile-icon full-reset"><i class="zmdi zmdi-pages"></i></div>
                    <div class="tile-name all-tittles">Trabajo de Graduacion</div>
                    <div class="tile-num full-reset">@item.countTraba</div>
                </article>
                <article class="tile">
                    <div class="tile-icon full-reset"><i class="zmdi zmdi-accounts"></i></div>
                    <div class="tile-name all-tittles">Asesores</div>
                    <div class="tile-num full-reset">@item.countAsesores</div>
                </article>


                @if (User.IsInRole("Inventarista"))
                {
                    <article class="tile">
                        <div class="tile-icon full-reset"><i class="zmdi zmdi-truck"></i></div>
                        <div class="tile-name all-tittles">Autores</div>
                        <div class="tile-num full-reset">@item.countAutor</div>
                    </article>
                    <article class="tile">
                        <div class="tile-icon full-reset"><i class="zmdi zmdi-book"></i></div>
                        <div class="tile-name all-tittles">Libros</div>
                        <div class="tile-num full-reset">@item.countLibro</div>
                    </article>
                    <article class="tile">
                        <div class="tile-icon full-reset"><i class="zmdi zmdi-trending-up"></i></div>
                        <div class="tile-name all-tittles" style="width: 90%;">Reportes y Estadísticas</div>
                        <div class="tile-num full-reset">&nbsp;</div>
                    </article>
                } <!--INVENTARISTA-->
            }
        }

        @foreach (var item in Model.Estudiantes)
        {
            @if (User.IsInRole("Estudiante"))
            {<!--ESTUDIANTE-->
                <article class="tile">
                    <div class="tile-icon full-reset"><i class="zmdi zmdi-settings"></i></div>
                    <div class="tile-name all-tittles">Perfil</div>
                    <div class="tile-num full-reset">7</div>
                </article>
                <article class="tile">
                    <div class="tile-icon full-reset"><i class="zmdi zmdi-time-restore"></i></div>
                    <div class="tile-name all-tittles" style="width: 90%;">Devoluciones pendientes</div>
                    <div class="tile-num full-reset">@item.countDevPen</div>
                </article>
                <article class="tile">
                    <div class="tile-icon full-reset"><i class="zmdi zmdi-calendar"></i></div>
                    <div class="tile-name all-tittles">Préstamos Realizado</div>
                    <div class="tile-num full-reset">@item.countPres</div>
                </article> <!--ESTUDIANTE-->}}
        <!--
        <article class="tile">
            <div class="tile-icon full-reset"><i class="zmdi zmdi-male-alt"></i></div>
            <div class="tile-name all-tittles">docentes</div>
            <div class="tile-num full-reset">11</div>
        </article>
        <article class="tile">
            <div class="tile-icon full-reset"><i class="zmdi zmdi-assignment-account"></i></div>
            <div class="tile-name all-tittles">secciones</div>
            <div class="tile-num full-reset">17</div>
        </article>
            -->
    </section>
    @if (ViewBag.mensaje != null)
    {

        <script>
            swal(
                'Cuenta Creada!',
                'Te Damos la cordial Bienvenida a BIBLIOTECA CUNOR!',
                'success'
            );
        </script>

    }

</body>
</html>
