@model IEnumerable<BibliotecaCUNOR.Models.Usuario>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Nombre)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Apellido)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CorreoElectronico)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Contraseña)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Usuario1)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Telefono)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Foto)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ActivarUsuario)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Estado)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CodCargo)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.RecContraseña)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CodCarreraNavigation)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CodRolusuarioNavigation)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CodTipousuarioNavigation)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Nombre)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Apellido)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CorreoElectronico)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Contraseña)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Usuario1)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Telefono)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Foto)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ActivarUsuario)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Estado)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CodCargo)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.RecContraseña)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CodCarreraNavigation.Carrera1)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CodRolusuarioNavigation.Rol)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CodTipousuarioNavigation.Tipo)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.CodUsuario">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.CodUsuario">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.CodUsuario">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
